body {
    background: radial-gradient(circle, #d9f2f0, #cee9e8, #afdfdb, #92cecb, #62bcc0);
}

.navbar {
    background-color: #fde8fd;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.navbar a {
	color: black;
	text-decoration: none;
	padding: 15px;
	display: inline-block;
	text-align: center;
}

.navbar a:hover {
    background-color: #7e44c1;
}

.navbar li {
    float: left;
}

ul {
	list-style-type: none;
	margin: 5px;
    font-family: "Comme", sans-serif;
    padding: 15px;
	font-size: 20px;
}

/*
li {

}

a {

}
*/


h2 {
    font-family: "Nabla" , system-ui;
    color: #055c5c; 
    font-size: 35px;
}

h3 {
    font-family: "Boldonse", system-ui;
    font-style: normal;
}

p {
    font-family: "Comme", sans-serif;
}