body {
    background: radial-gradient(circle, #007a7a, #0d0d21, #004a4d, #005b80, #1a1a1a);
}

.navbar {
    background: linear-gradient(0.25turn, #1d020f, #2b031e, #34042b, #460726, #5f0737);
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    overflow: hidden;
}

a.navbar {
	color: white;
	text-decoration: none;
	padding: 15px;
	display: inline-block;
	text-align: center;
}

.navbar li {
    float: left;
}

.navbar a:hover {
    background-color: #392036e8;
}

.flex-column {
    display: flex;
    margin: 25px;
    column-gap: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 25px;
    margin: 0 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.hobbies {
    display: flex;
    background: rgba(255, 255, 255, 0.35);
    padding: 30px;
    border-radius: 12px;
    column-gap: 40px;
}

h3.hobbies {
    font-family: "Boldonse", system-ui;
    font-style: normal;
    column-span: all;
    text-align: center;
}

p.hobbies {
    color: black;
    font-family: "Comme", sans-serif;
}

h1 {
    font-family: "Boldonse", system-ui;
    font-size: 25px;
    color: white;
}

h2 {
    font-family: "Boldonse", system-ui;
    font-size: 20px;
    color: white;
}


h3 {
    font-family: "Boldonse", system-ui;
    font-style: normal;
    color: white;
}

h4 {
    font-family: "Comme", sans-serif;
    color: white;
}

p {
    font-family: "Comme", sans-serif;
    color: white;
}

ul {
	list-style-type: none;
	margin: 5px;
    font-family: "Comme", sans-serif;
    padding: 5px;
	font-size: 15px;
    color: white;
}

iframe {
    width: 100%;
    height: 352px;
}

video {
    display: inline-block;
    margin: auto;
    width: 25%;
    height: 15%;
}

.gallary {
    margin: 15px;
    border: 3px solid #92aaf9;
    width: 300px;
    display: block;
}

img.gallary {
    width: 100%;
    height: auto;
    display: block;
}