body {
    background: linear-gradient(0.25turn, #1a1a1a, #1e1e2a, #4f7d7d, #3e6a68, #1a1a1a);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Nabla" , system-ui;
    color: #055c5c; 
    font-size: 35px;
}